* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin: 2px;
  max-width: 600px;
  max-height: 600px;
  display: grid;
  height: 600px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid black;
  box-sizing: content-box;
}

section > div {
  /* width: 75px; */
  /* height: 75px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackbox {
  background-color: grey;
}

i {
  font-size: 3em;
  pointer-events: none;
}

.selectedBox {
  background-color: palegoldenrod;
}

.posibleSquare {
  background-color: palegoldenrod;
}

section > div > span {
  position: absolute;
  display: none;
  pointer-events: none;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  border-radius: 75px;
  background-color: rebeccapurple;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}

label {
  display: none;
}

@media only screen and (max-width: 600px) {
  section {
    height: 100vw;
    width: 100vw;
  }
}
@media only screen and (max-width: 500px) {
  i {
    font-size: 1.5em;
  }
}
